<div class="agileinfo-ads-display col-md-10 w3l-rightpro" id="searchResultnew" style="height:420px; width:80%; overflow-y:scroll; ">
    <div class="wrapper">
        <!-- first section -->
        <div class="product-sec1">


            <div class="col-xs-3 product-men" id="searchResult">
                <div class="men-pro-item simpleCart_shelfItem">

                    <div class="men-thumb-item">
                        <img data-target="#Marchentmodel" data-toggle="modal" style="height:100px;width:150px;text-align:center;position:center" class="morph" src="~/UI styles/Test UI/images/tyre.png" alt="Easy Billing">

                    </div>
                    <div class="item-info-product ">
                        <div class="caption" style="text-align:center;width:150px">
                            <h4>
                                <a data-target="#Marchentmodel" data-toggle="modal">Bible</a>

                            </h4>
                            <label style="color:crimson;float:right">Rs.280.00</label>
                        </div>

                        @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                <button type="button" class="btnaddtocrt" data-target="#Marchentmodel" data-toggle="modal" style="text-align:left;background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); color:black">
                                    Buy
                                    <i class="fa fa-eye" aria-hidden="true" style="float:right; text-align:center"></i>
                                </button>

                            </div>*@

                    </div>
                </div>
            </div>
            <div class="col-xs-3 product-men" id="searchResult">
                <div class="men-pro-item simpleCart_shelfItem">

                    <div class="men-thumb-item">
                        <img data-target="#Marchentmodel" data-toggle="modal" style="height:100px;width:150px;text-align:center;position:center" class="morph" src="~/UI styles/Test UI/images/tyre.png" alt="Easy Billing">

                    </div>
                    <div class="item-info-product ">
                        <div class="caption" style="text-align:center;width:150px">
                            <h4>
                                <a data-target="#Marchentmodel" data-toggle="modal">Bible</a>

                            </h4>
                            <label style="color:crimson;float:right">Rs.280.00</label>
                        </div>

                        @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                <button type="button" class="btnaddtocrt" data-target="#Marchentmodel" data-toggle="modal" style="text-align:left;background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); color:black">
                                    Buy
                                    <i class="fa fa-eye" aria-hidden="true" style="float:right; text-align:center"></i>
                                </button>

                            </div>*@

                    </div>
                </div>
            </div>
            <div class="col-xs-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem" id="searchResult">

                    <div class="men-thumb-item">
                        <img data-target="#Marchentmodel" data-toggle="modal" style="height:100px;width:150px;text-align:center;position:center" class="morph" src="~/UI styles/Test UI/images/tyre.png" alt="Easy Billing">

                    </div>
                    <div class="item-info-product ">
                        <div class="caption" style="text-align:center;width:150px">
                            <h4>
                                <a data-target="#Marchentmodel" data-toggle="modal">Bible</a>

                            </h4>
                            <label style="color:crimson;float:right">Rs.280.00</label>
                        </div>

                        @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                <button type="button" class="btnaddtocrt" data-target="#Marchentmodel" data-toggle="modal" style="text-align:left;background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); color:black">
                                    Buy
                                    <i class="fa fa-eye" aria-hidden="true" style="float:right; text-align:center"></i>
                                </button>

                            </div>*@

                    </div>
                </div>
            </div>
            <div class="col-xs-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem" id="searchResult">

                    <div class="men-thumb-item">
                        <img data-target="#Marchentmodel" data-toggle="modal" style="height:100px;width:150px;text-align:center;position:center" class="morph" src="~/UI styles/Test UI/images/tyre.png" alt="Easy Billing">

                    </div>
                    <div class="item-info-product ">
                        <div class="caption" style="text-align:center;width:150px">
                            <h4>
                                <a data-target="#Marchentmodel" data-toggle="modal">Bible</a>

                            </h4>
                            <label style="color:crimson;float:right">Rs.280.00</label>
                        </div>

                        @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                <button type="button" class="btnaddtocrt" data-target="#Marchentmodel" data-toggle="modal" style="text-align:left;background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); color:black">
                                    Buy
                                    <i class="fa fa-eye" aria-hidden="true" style="float:right; text-align:center"></i>
                                </button>

                            </div>*@

                    </div>
                </div>
            </div>
            <div class="col-xs-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem" id="searchResult">

                    <div class="men-thumb-item">
                        <img data-target="#Marchentmodel" data-toggle="modal" style="height:100px;width:150px;text-align:center;position:center" class="morph" src="~/UI styles/Test UI/images/tyre.png" alt="Easy Billing">

                    </div>
                    <div class="item-info-product ">
                        <div class="caption" style="text-align:center;width:150px">
                            <h4>
                                <a data-target="#Marchentmodel" data-toggle="modal">Bible</a>

                            </h4>
                            <label style="color:crimson;float:right">Rs.280.00</label>
                        </div>

                        @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                <button type="button" class="btnaddtocrt" data-target="#Marchentmodel" data-toggle="modal" style="text-align:left;background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); color:black">
                                    Buy
                                    <i class="fa fa-eye" aria-hidden="true" style="float:right; text-align:center"></i>
                                </button>

                            </div>*@

                    </div>
                </div>
            </div>
            <div class="col-xs-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem" id="searchResult">

                    <div class="men-thumb-item">
                        <img data-target="#Marchentmodel" data-toggle="modal" style="height:100px;width:150px;text-align:center;position:center" class="morph" src="~/UI styles/Test UI/images/tyre.png" alt="Easy Billing">

                    </div>
                    <div class="item-info-product ">
                        <div class="caption" style="text-align:center;width:150px">
                            <h4>
                                <a data-target="#Marchentmodel" data-toggle="modal">Bible</a>

                            </h4>
                            <label style="color:crimson;float:right">Rs.280.00</label>
                        </div>

                        @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                <button type="button" class="btnaddtocrt" data-target="#Marchentmodel" data-toggle="modal" style="text-align:left;background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); color:black">
                                    Buy
                                    <i class="fa fa-eye" aria-hidden="true" style="float:right; text-align:center"></i>
                                </button>

                            </div>*@

                    </div>
                </div>
            </div>
            <div class="col-xs-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem" id="searchResult">

                    <div class="men-thumb-item">
                        <img data-target="#Marchentmodel" data-toggle="modal" style="height:100px;width:150px;text-align:center;position:center" class="morph" src="~/UI styles/Test UI/images/tyre.png" alt="Easy Billing">

                    </div>
                    <div class="item-info-product ">
                        <div class="caption" style="text-align:center;width:150px">
                            <h4>
                                <a data-target="#Marchentmodel" data-toggle="modal">Bible</a>

                            </h4>
                            <label style="color:crimson;float:right">Rs.280.00</label>
                        </div>

                        @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                <button type="button" class="btnaddtocrt" data-target="#Marchentmodel" data-toggle="modal" style="text-align:left;background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); color:black">
                                    Buy
                                    <i class="fa fa-eye" aria-hidden="true" style="float:right; text-align:center"></i>
                                </button>

                            </div>*@

                    </div>
                </div>
            </div>
            <div class="col-xs-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem" id="searchResult">

                    <div class="men-thumb-item">
                        <img data-target="#Marchentmodel" data-toggle="modal" style="height:100px;width:150px;text-align:center;position:center" class="morph" src="~/UI styles/Test UI/images/tyre.png" alt="Easy Billing">

                    </div>
                    <div class="item-info-product ">
                        <div class="caption" style="text-align:center;width:150px">
                            <h4>
                                <a data-target="#Marchentmodel" data-toggle="modal">Bible</a>

                            </h4>
                            <label style="color:crimson;float:right">Rs.280.00</label>
                        </div>

                        @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                <button type="button" class="btnaddtocrt" data-target="#Marchentmodel" data-toggle="modal" style="text-align:left;background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); color:black">
                                    Buy
                                    <i class="fa fa-eye" aria-hidden="true" style="float:right; text-align:center"></i>
                                </button>

                            </div>*@

                    </div>
                </div>
            </div>
            <div class="col-xs-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem" id="searchResult">

                    <div class="men-thumb-item">
                        <img data-target="#Marchentmodel" data-toggle="modal" style="height:100px;width:150px;text-align:center;position:center" class="morph" src="~/UI styles/Test UI/images/tyre.png" alt="Easy Billing">

                    </div>
                    <div class="item-info-product ">
                        <div class="caption" style="text-align:center;width:150px">
                            <h4>
                                <a data-target="#Marchentmodel" data-toggle="modal">Bible</a>

                            </h4>
                            <label style="color:crimson;float:right">Rs.280.00</label>
                        </div>

                        @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                <button type="button" class="btnaddtocrt" data-target="#Marchentmodel" data-toggle="modal" style="text-align:left;background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); color:black">
                                    Buy
                                    <i class="fa fa-eye" aria-hidden="true" style="float:right; text-align:center"></i>
                                </button>

                            </div>*@

                    </div>
                </div>
            </div>


            <div class="clearfix"></div>
        </div>

    </div>
</div>