	<!-- banner-2 -->
<div class="pageBanner" style="background: url(https://www.mrftyres.com/images/banner-manufacturing-units.jpg) no-repeat top #ffffff;    height: 12em;">
    <div class="pageTitle" style="font-size: 3.5em;
    font-family: 'BebasRegular';
    word-spacing: 0.2em;
    text-align: center;
    padding-top: 0em;
    color: #1a1a1a;
    width: 97.8%;
    "><span style="    color: #ed1c24;">Overview</span></div>
</div>
@*<div style="width:100%; text-align:center;animation-duration:2s" class="w3-animate-right">
    <img src="https://www.mrftyres.com/images/banner-manufacturing-units.jpg" alt="">
</div>*@
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb w3-animate-top" style="animation-duration:3s">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="index.html">Home</a>
                    <i>|</i>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- about page -->
<!-- welcome -->
<div class="welcome w3-animate-top" style="animation-duration:3s">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Kannan tyres
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
     
        <div class="w3l-welcome-text">
            <h4><b>LEGACY</b></h4>
            <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0 0 10px;line-height:1.428571429;font-size:14px;color:black">
                The Kannan tyre story is a truly remarkable one. What started as a rubber balloon factory with a funding of Rs.14, 000 way back in the 40’s is now a multibillion legacy that produces quality tyres used all around India & internationally along with a presence in paints & coats, toys, motorsports and cricket training.
            </p>
            <h4><b>ORIGIN</b></h4>
            <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0 0 10px;line-height:1.428571429;font-size:14px;color:black">
                Kannan tyre’s origin traces back to the humble shack in Madras that housed its first makeshift toy balloon manufacturing unit set up by KM Mammen Mappillai in 1946. It was not until 1952 when it changed course and turned to tread rubber manufacturing. Thus began its glorious reign as the undisputed leader in the tyre making industry.
            </p>
            <h4><b>RECOGNITION</b></h4>
            <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0 0 10px;line-height:1.428571429;font-size:14px;color:black">
                Kannan tyre is recognized for its drive towards continuous quality improvement and customer satisfaction. It has won the JD Power award not once but 12 times till date. It has also won the TNS and CAPEXIL awards for being voted as the most trusted tyre company in India.
            </p>
          

        </div>
    </div>
</div>
