<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://etreesales.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Kadambari</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EasyBillingEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SOURAV-PC\MSSSQLSERVER;Initial Catalog=EasyBilling;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EasyBilling.Models.EasyBillingEntities, EasyBilling" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EasyBillingConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=SOURAV-PC\MSSSQLSERVER;Initial Catalog=EasyBilling;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SOURAV-PC\MSSSQLSERVER;Initial Catalog=EasyBilling;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EasyBillingConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SOURAV-PC\MSSSQLSERVER;Initial Catalog=EasyBilling;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EasyBillingConnectionString-Web.config Connection String">
      <ParameterValue>data source=SOURAV-PC\MSSSQLSERVER;initial catalog=EasyBilling;integrated security=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EasyBillingEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EasyBillingModel.csdl|res://*/Models.EasyBillingModel.ssdl|res://*/Models.EasyBillingModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SOURAV-PC\MSSSQLSERVER;Initial Catalog=EasyBilling;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>